/dts-v1/;

/ {
    #address-cells = <2>;
    #size-cells = <2>;

    chosen {
        stdout-path = "/serial@c0000000";
    };

    cpus {
        #address-cells = <1>;
        #size-cells = <0>;
        CPU0: cpu@0 {
            device_type = "cpu";
            reg = <0>;
            status = "okay";
            compatible = "riscv";
            riscv,isa = "rv32ima";
            mmu-type = "riscv,sv32";
            clock-frequency = <1000000>;
        };
    };

    memory@0 {
        device_type = "memory";
        reg = <0x0 0x0 0x0 0x8000000>;   // 128 MB
    };

    serial: serial@c0000000 {
        device_type = "serial";
        compatible = "ns16550";
        reg = <0x0 0xc0000000 0x0 0x1000>;
        clock-frequency = <1000000>;
    };
};

